* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(239, 239, 239);
    /* color: white; */
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

/* topNavBar strat */
.topNavBar {
    position: fixed;
    width: 100%;
}

.topNavBar .topNavBar-inner {
    padding: 0 16px 0 0;
}

.topNavBar .logo {
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    margin-top: 24px;
    margin-left: 16px;
}

.topNavBar .logo .rs {
    color: rgb(230, 104, 106);
    margin-right: 5px;
}

.topNavBar .logo .card {
    color: rgb(154, 157, 162);
}

.topNavBar nav {
    float: right;
}

.topNavBar nav ul li {
    list-style: none;
    float: left;
    margin: 0 18px;
}

.topNavBar nav ul li a {
    /* text-decoration: none; */
    color: rgb(183, 183, 183);
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 30px 0 5px 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.topNavBar nav ul li a:hover {
    border-bottom: 3px solid rgb(224, 101, 103);
}
/* topNavBar End */

.banner {
    background: url('./imgs/rs-cover.jpg');
    height: 515px;
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
    max-width: 950px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.userCard .picture {
    float: left;
    margin-top: 50px;
    margin-left: 52px;
    margin-bottom: 50px;
}

.userCard .text {
    float: left;
    margin-top: 50px;
    margin-left: 66px;
}

.userCard .text .welcome {
    color: white;
    background-color: rgb(230, 104, 106);
    padding: 6px 16px;
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
    /* line-height: 27px;
    display: inline-block;
    text-align: center; */
}

.userCard .text .triangle {
    width: 0px;
    border-left: 12px solid rgb(230, 104, 106);
    border-bottom: 12px solid transparent;
    display: block;
    position: absolute;
    top: 100%;
    left: 4px;
}

.userCard .text hr {
    display: inline-block;
    width: 450px;
    border: none;
    border-top: 1px solid rgb(222, 222, 222);
    margin: 22px 0 20px 0;
}

.userCard .text dl dt {
    font-weight: bold;
    display: inline-block;
    width: 30%;
    margin: 7px 0;
}

.userCard .text dl dd {
    color: rgb(157, 169, 198);
    display: inline-block;
    width: 50%;
    margin: 7px 0;
}

.userCard footer.media {
    background-color: rgb(230, 104, 106);
    text-align: center;
}

.userCard footer.media a {
    display: inline-block;
    padding: 5px 0;
    margin: 16px;
    width: 35px;
    line-height: 25px;
    border-radius: 60%;
}

.userCard footer.media a:hover {
    background-color: rgb(207, 93, 95);
}

.userCard footer.media a svg {
    width: 25px;
    height: 25px;
    fill: white;
    vertical-align: top;
}