* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
}

/* topNavBar strat */

.topNavBar .logo {
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    margin-top: 24px;
    margin-left: 16px;
}

.topNavBar .logo .rs {
    color: rgb(230, 104, 106);
}

.topNavBar .logo .card {
    color: rgb(154, 157, 162);
}

.topNavBar nav {
    float: right;
}

.topNavBar nav ul li {
    list-style: none;
    float: left;
    margin: 0 18px;
}

.topNavBar nav ul li a {
    /* text-decoration: none; */
    color: rgb(183, 183, 183);
    font-size: 12px;
    display: block;
    padding: 30px 0 5px 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.topNavBar nav ul li a:hover {
    border-bottom: 3px solid rgb(224, 101, 103);
}

/* topNavBar End */